/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, "Inter", sans-serif);
  font-variation-settings: "wght" var(--font-main-weight-text, 410);
  background-image: var(
    --bg-gradient,
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px)
  );
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  padding-block: 100px;
}

.layout__width {
  width: var(--layout-width, clamp(320px, 100%, 700px));
  margin-inline: auto;
}

/*ШАПКА*/

.header {
  background-color: white;
  font-family: var(--font-accent, "PressStart2P", fantasy);
  text-transform: uppercase;
  padding-inline: var(
    --padding-inline-header,
    clamp(14px, -24.2px + 10.19vw, 122.5px)
  );
  padding-block: var(
    --padding-block-header,
    clamp(120px, 3.41vh + 97.26px, 130px)
  );
  border: var(--border, 2px solid #000);
  display: grid;
  place-items: center;
  text-align: center;
}

.header__title {
  font-size: var(
    --font-size-header-title,
    clamp(3.0625rem, 2.4215rem + 2.735vw, 4.0625rem)
  );
  margin-block-end: 20px;
}

@media (width < 375px) {
  /*
    требуется, так как макет выполнен для 375px, а минимальное поддерживаемое значение экрана - 320px
    font-size из макета 49px и текст такого размера не влазит в 320px с заданными padding из макета
  */
  .header__title {
    font-size: clamp(40px, calc(-12.36px + 16.36vw), 49px);
  }
}

/*
  требуется, так как титульник с размером шрифта 40-49px не влазит в экран 328px-394px для браузера Firefox
*/
@supports (-moz-appearance: none) {
  .header__title {
    font-size: clamp(40px, calc(32.86px + 2.23vw), 65px);
  }
}

.header__description {
  font-size: var(
    --font-size-header-description,
    clamp(0.875rem, 0.5144rem + 1.5385vw, 1.4375rem)
  );
}

/* КАРТОЧКИ */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: #fff;
  border: var(--border, 2px solid #000);
}

.card__title {
  font-variation-settings: "wght" var(--font-main-weight-title, 715);
  padding: 4px 10px;
  font-size: 18px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px;
}

.card__text {
  line-height: 21px;
  font-size: 18px;
}

/* КАРТИНКА И ЛЭЙБЛ */

.card__image-wrapper {
  position: relative;
  overflow: hidden;
  border-top: var(--border, 2px solid #000);
  border-bottom: var(--border, 2px solid #000);
}

.card__label {
  position: absolute;
  top: 26px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent, "PressStart2P", fantasy);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px #fff;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
}

/*ФИЛЬТРЫ*/

.filter-soft {
  filter: grayscale(30%) sepia(40%) brightness(95%);
}

.filter-neon {
  filter: saturate(150%) contrast(120%);
}

.filter-pink {
  filter: hue-rotate(20deg);
}

.filter-green {
  filter: hue-rotate(354deg) invert(0.8);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-mood {
  filter: hue-rotate(90deg) opacity(0.6) brightness(90%);
}

/* ВСЕ КНОПКИ */

.button {
  position: relative;
  border: var(--border, 2px solid #000);
  background: var(--button-bg-color, #fff);
  color: var(--button-text-color, #fff);
  font-family: inherit;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-focus-color, #000);
}

.button::before {
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button-like__container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card__like-button {
  min-width: 130px;
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--stroke-like-icon, #000);
  /*
    outline-offset со значением -1px требуется, т.к. размер иконки из мокапа иконок не соответствует иконке из мокапа страницы:
    у иконки из мокапа иконок больше пространства вокруг контура.
    это приводит к тому, что аутлайн иконки становится по высоте больше, чем бордер у соседствуеющей кнопки Like/Dislike
  */
  outline-offset: -1px;
}

.button__text {
  display: inline-block;
  font-family: var(--font-accent, "PressStart2P", fantasy);
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button__save-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__save {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 18px;
}

.button__save svg {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

/* АНИМАЦИЯ СЕРДЦА default, hover, active, is-liked*/

/* default */

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

/* hover */

.like-icon:hover .core {
  fill: var(--fill-color-hover, #000);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--fill-color-hover, #000);
  transition-delay: 0.05s;
}

/* active */

.like-icon:active .core {
  fill: var(--fill-color-active, #ff0000);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--fill-color-active, #ff0000);
  transition-delay: 0.05s;
}

/* is-liked */

.like-icon.is-liked .core {
  fill: var(--fill-color-isliked, #ff0000);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color-isliked, #ff0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color-isliked, #ff0000);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1;
}

/*МОДАЛЬНОЕ ОКНО*/

.modal {
  display: none;
  padding: 0;
  /*
    max-width требуется переопределить, чтобы перебить значение для
    dialog:-internal-dialog-in-top-layer из user agent stylesheet,
    поскольку оно делает диалог меньше, чем требуется по мокапу
  */
  max-width: clamp(341px, calc(100% - 2em - 4px), 353px);
}

.modal__content {
  padding: 28px 38px;
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px 20px;
  align-items: center;
  font-size: 14px;
  font-family: var(--font-accent, "PressStart2P", fantasy);
}

.modal[open] {
  display: grid;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.modal__text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.modal__actions {
  grid-column: 1 / -1;
  margin: 4px 0 0;
}

.modal__button {
  padding: 10.5px 114.5px;
}

.modal__icon {
  width: 39px;
  height: 39px;
}

@media (width > 375px) {
  .page {
    padding-block: 98px;
    gap: 96px;
  }

  .card__image {
    height: var(--img-height, clamp(371px, 30.89vw + 255.1px, 700px));
    width: var(--img-width, 100%);
  }

  .button__save {
    flex-direction: row;
  }

  .button__save svg {
    width: 21px;
    height: 21px;
  }

  .modal__content {
    padding: 28px;
  }

  .modal__button {
    padding: 10.5px 130.5px;
  }
}
