/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter", sans-serif;
  --font-main-weight-text: 410;
  --font-main-weight-title: 715;
  --font-accent: "PressStart2P", fantasy;
  --bg-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --layout-width: clamp(320px, 100%, 700px);
  --padding-inline-header: clamp(14px, -24.2px + 10.19vw, 122.5px);
  --padding-block-header: clamp(120px, 3.41vh + 97.26px, 130px);
  --font-size-header-title: clamp(3.0625rem, 2.4215rem + 2.735vw, 4.0625rem);
  --font-size-header-description: clamp(
    0.875rem,
    0.5144rem + 1.5385vw,
    1.4375rem
  );

  --img-width: 100%;
  --img-height: clamp(371px, 30.89vw + 255.1px, 700px);

  --label-stroke-color: #fff;
  --border: 2px solid #000;
  --accent-focus-color: #000;
  --button-text-color: #fff;
  --button-bg-color: #fff;
  --stroke-like-icon: #000;

  /* переменные для сердца */
  --heart-color-contour: #000;
  --sparks-color-contour: #ff0000;
  --fill-color-hover: #000;
  --fill-color-active: #ff0000;
  --fill-color-isliked: #ff0000;
}
